@import url(./1-header.css);
@import url(./2-hero.css);
@import url(./3-section1.css);
@import url(./4-description.css);
@import url(./5-graduation.css);
@import url(./6-section4.css);
@import url(./7-footer.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: auto;
    padding: 10px 0px;
}

a {
    text-decoration: none;
    color: #002147;
}
